<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/img/logo image.png">

  <title>AutoXpertise</title>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/needs/css/style.css">
</head>

<body class="bg-dark">

  <!-- navbar -->
  <nav class="navbar bg-dark navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="/">AutoXpertise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-page">Explore Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login-page">Admin login</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
  <div class="container"><hr style="color: white;"></div>
  <div class="bg-dark justify-content-center">
    
    <div>
      < <!-- about company -->
      
        <section style="background-color:#212529; padding: 60px;">
          
          <div class=" bg-dark " style="padding-top: 30px;">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <div class="card mb-3 bg-dark text-white"
                  style="max-width: 1080px; background-color: #EBF0F3 ; border: none;">
                  <div class="row g-0">
                    <div class="col-md-4 ">
                      <img src="/needs/images/img/logo.png" class="img-fluid" style="border-radius: 50%;" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title text-warning">AutoXpertise</h2>
                        <p class="card-text">AutoXparties, the vibrant car dealership ship, stood out with its
                          innovative approach to car buying. The ship's deck was transformed into a showroom, showcasing
                          a diverse selection of vehicles. Knowledgeable staff orchestrated memorable car-buying
                          experiences, hosting exciting events and test drives. AutoXparties became the go-to
                          destination for customers seeking adventure and exceptional service.</p>
                        <p class="card-text"><small class="text-warning">"Experience Automotive Excellence Like Never
                            Before."</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>

            </div>
          </div>
        </section>

        <section style="background-color:#212529; padding: 60px;">
          <hr style="color: white;">
          <div class=" bg-dark " style="padding-top: 120px;">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <div class="card mb-3 bg-dark text-white"
                  style="max-width: 1080px; background-color: #EBF0F3 ; border: none;">
                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title text-warning">Our vision</h2>
                        <p class="card-text">At AutoXparties, our vision is to revolutionize the car buying experience.
                          We aim to create a lively and interactive environment where customers can explore and
                          celebrate their love for automobiles. Our ship serves as a unique platform, blending
                          entertainment and education, while delivering exceptional customer service that exceeds
                          expectations.</p>
                        <p class="card-text"><small class="text-warning">"Experience Automotive Excellence Like Never
                            Before."</small></p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <img src="/needs/images/img/logo.png" class="img-fluid " style="border-radius: 50%;" alt="...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>

            </div>
          </div>
        </section>

          <!-- devoloper details -->
    <section style="background-color: #212529;padding: 60px; padding: 60px ;">
      <hr style="color: white;">

      
      <section style="background-color:#212529; padding: 60px;">
        

        <div class=" bg-dark " style="padding-top: 30px; padding-left: auto;">
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
              <div class="card mb-3 bg-dark text-white"
                style="max-width: 1080px; background-color: #EBF0F3 ; border: none;">
                <h2 class="text-warning pb-4 p-4 text-center">Devoloper Details</h2>
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/needs/images/img/devolopers/developer-icon.png" class="img-fluid mx-auto"
                       alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body  pt-5 m-5">
                      <h3 class="card-title">Mozahidul Islam</h3>
                      <a href="#">2020000000023@seu.edu.com</a>
                      <p></p>
                      <p class="card-text">"Welcome to my world of web development, where pixels come alive and ideas
                        transform into captivating digital experiences. With expertise in HTML, CSS, JavaScript, and
                        more, I craft visually stunning and highly functional websites. Let's collaborate and bring your
                        online vision to life with seamless design and flawless functionality."</p>
                      <p class="card-text"><small class="text-warning">"Experience Automotive Excellence Like Never
                          Before."</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>

          </div>
        </div>
      </section>

    </section>

    </div>



    <!-- footer section -->

    <footer class="bg-dark text-white pt-5 pb-4 footer">
      <hr class="mb-5" style="color: white;">

      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class=" mb-4 font-weight-bold text-warning">AutoXpertise</h5>
            <p>One solution to all your problems.</p>

          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class=" mb-4 font-weight-bold text-warning">Services</h5>

            <p>
              <a href="#" class="text-white" style="text-decoration: none">Cars</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none">Accessories</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none">Car rents</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none">Modification</a>
            </p>


          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class=" mb-4 font-weight-bold text-warning">Need Help?</h5>
            <p>We are Always here for you! Knock us on Messenger anytime or Call our Hotline (10AM - 10PM).</p>

          </div>

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 align-items-center">
            <h5 class=" mb-4 font-weight-bold text-warning align-items-center">Contact Info</h5>
            <p>Banani 15/A</p>
            <p>Email: autoxperties@gmail.com</a></p>
            <p>Phone: 01521558907</p>

          </div>
          <hr class="mb-4">
          <div class="row align-items-center">
            <p>Copyright ©2023 All rights reserved by: <strong class="text-warning">AutoXpertise</strong></p>
          </div>


        </div>

      </div>


    </footer>

  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>