<!-- include header -->

<%-include('include/_header') %>

<!-- /include hader -->



 <!-- main section -->

 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div id="nuser" class="box-nav d-flex justify-between"  style="border-radius: 10px;" >
                <a href="/dashboard" class="border-shadow"  style="border-radius: 10px;">
                    <scan  class="text-gradient"> <i class="fa-solid fa-car-side"></i> All Cars</scan>
                </a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Car</h2>
            <span class="text-dark"> Use the bellow form to add a new car</span>
        </div>
        
        <!-- add user form -->
        <%-include('include/_form') %>

    </div>
</main>

<!-- /main section -->


<!-- include footer -->

<%-include('include/_footer') %>

<!-- /include footer-->